<component name="ArtifactManager">
  <artifact type="war" name="SpringBootWarDeployment:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringBootWarDeployment-0.0.1.war">
      <element id="artifact" artifact-name="SpringBootWarDeployment:war exploded" />
    </root>
  </artifact>
</component>